.hidden {
  position: absolute;
  left: -999em;
}
/* {{{ Events */
.event {
  padding: 20px;
  padding-left: 108px;
  margin-bottom: 12px;
  position: relative;
  -webkit-box-shadow: 0 0 0 1px #ffffff inset;
  -moz-box-shadow: 0 0 0 1px #ffffff inset;
  box-shadow: 0 0 0 1px #ffffff inset;
  background: #fff;
  border-bottom: 1px solid #ddd;
  zoom: 1;
}
.event:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.event h1,
.event h2,
.event h3,
.event h4,
.event h5,
.event h6,
.event .huge,
.event .large {
  color: #484848;
}
.event-time {
  position: absolute;
  left: 20px;
  top: 20px;
}
.calendar {
  width: 48px;
  padding: 6px 10px 16px;
  background: url("../img/bg-date-lt.png") center top no-repeat;
  text-align: center;
  font: 10px/1 "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}
.calendar-month {
  display: block;
  font-size: 1.4em;
  text-transform: uppercase;
}
.calendar-date {
  display: block;
  font-size: 2.6em;
  line-height: .95;
}
.calendar-year {
  display: block;
  font-size: 1.4em;
}
.event-tags {
  float: right;
  margin-right: 5px;
  text-align: right;
}
/* }}} */
/* {{{ Firefox Promo bar */
#firefox-promo {
  padding-top: 20px;
  padding-bottom: 0;
}
#firefox-promo h3 {
  float: left;
  width: 220px;
  margin: 0 10px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.2em;
  letter-spacing: -1px;
  white-space: nowrap;
}
#firefox-promo #firefox-promo-link {
  position: absolute;
  top: -10px;
  left: 280px;
}
#firefox-promo ul.features {
  float: left;
  width: 300px;
  margin: 0 10px;
  width: 260px;
  margin: 0 0 0 160px;
}
#firefox-promo ul.features li {
  float: left;
  list-style-type: none;
  margin: 0;
  width: 86px;
  padding: 0;
  text-align: center;
}
#firefox-promo ul.features li small {
  display: block;
  padding: 0 6px;
  border-left: 1px dotted #d6d6d6;
}
#firefox-promo ul.features li:first-child small {
  border: 0;
}
#firefox-promo .download-button {
  float: left;
  width: 300px;
  margin: 0 10px;
  width: 260px;
  float: right;
  margin-top: -6px;
  margin-left: 10px;
  padding-bottom: 6px;
}
#firefox-promo .download-button .download-link {
  display: block;
  text-align: center;
}
#firefox-promo .download-button ul {
  margin: 0;
}
#firefox-promo .download-button small.download-other {
  text-align: center;
}
#firefox-promo .download-button noscript h4,
#firefox-promo .download-button .unrecognized-download h4 {
  font-size: 14px;
}
#firefox-promo .download-button-small .download-link {
  margin-left: 0;
}
#firefox-promo .download-button-small .download-link .download-content {
  background-image: none;
  margin-left: 0;
  padding-left: 20px;
}
/* }}} */
/* {{{ Main Content Columns */
#main-content li {
  margin: 20px 0 0 0;
  list-style-type: none;
  border-bottom: 1px dotted #d6d6d6;
  padding: 0 0 10px 0;
}
#main-content li p {
  margin: 0;
}
#main-content li h4 {
  margin: 0 0 5px 0;
}
#main-content li h4 a:after,
#main-content li a h4:after {
  content: " »";
  font-family: 'Open Sans Light', sans-serif;
  font-weight: normal;
  font-weight: 300;
}
#home-promo {
  margin: 0 auto;
}
#home-news {
  float: left;
  width: 300px;
  margin: 0 10px;
  margin-bottom: 20px;
}
#home-events,
#home-get-involved {
  float: left;
  width: 620px;
  margin: 0 10px;
  margin-bottom: 20px;
}
/* }}} */
/* {{{ Main Promos */
.no-js .pager-page {
  margin-bottom: 24px;
}
.pager-page {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: none;
}
.pager-page a.container {
  display: block;
  height: 265px;
  padding: 0;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.pager-page a.container:hover,
.pager-page a.container:active {
  text-decoration: none;
}
.pager-page .content {
  float: left;
  width: 300px;
  margin: 0 10px;
  margin-left: 0;
  padding: 0 0 20px 48px;
  position: relative;
}
.pager-page h3 {
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 36px;
  letter-spacing: -1px;
  color: #fff;
  text-shadow: none;
}
.pager-page h4 {
  color: #fff;
  text-shadow: none;
}
.pager-page p {
  color: #fff;
  text-shadow: none;
  margin: 0;
}
.pager-page .go:after {
  content: "\00A0\00BB";
  /* nbsp raquo */

}
.pager-page img {
  display: block;
  background: #333333;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.default-page {
  display: block;
}
.no-js .pager-tabs {
  display: none;
}
.pager-tabs {
  text-align: center;
}
.pager-tabs li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
.pager-tabs li a {
  color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 6px;
}
.pager-tabs li a:hover,
.pager-tabs li a:active {
  text-decoration: none;
  color: #484848;
}
.pager-tabs li a.selected {
  color: #484848;
}
#home-promo .pager-page h3 {
  font-size: 64px;
  margin-bottom: 10px;
}
#home-promo .pager-page h4 {
  text-decoration: none;
  text-shadow: none;
  font-size: 28px;
  float: none;
  width: 50%;
  margin-bottom: 20px;
}
#home-promo .pager-page .content {
  width: 60%;
  padding-left: 30px;
}
/* }}} */
/* {{{ Tablet  Layout: 768px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
  #firefox-promo {
    padding-bottom: 12px;
  }
  #firefox-promo h3 {
    float: left;
    width: 400px;
    margin: 0 10px;
    white-space: normal;
  }
  #firefox-promo ul.features {
    float: left;
    width: 400px;
    margin: 0 10px;
    margin-bottom: 10px;
  }
  #firefox-promo ul.features li {
    float: none;
    width: auto;
    margin: auto auto auto 20px;
    list-style-type: disc;
  }
  #firefox-promo ul.features li small {
    text-align: left;
    border: 0;
    padding: 0;
  }
  #firefox-promo ul.features li small br {
    display: none;
  }
  #firefox-promo .download-button {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 10px;
  }
  #home-promo .pager-page a.container {
    height: 198px;
  }
  #home-promo .pager-page .content {
    width: 60%;
  }
  #home-promo .pager-page h3 {
    font-size: 38px;
    letter-spacing: -1px;
    padding-top: 20px;
    width: auto;
  }
  #home-promo .pager-page h4 {
    font-size: 20px;
  }
  #home-news {
    float: left;
    width: 220px;
    margin: 0 10px;
  }
  #home-events,
  #home-get-involved {
    float: left;
    width: 460px;
    margin: 0 10px;
  }
}
/* }}} */
/* {{{ Wide Mobile Layout: 480px */
@media only screen and (max-width: 760px) {
  #firefox-promo h3 {
    float: none;
    width: auto;
    font-size: 28px;
    margin: 0 auto auto 100px;
    min-height: 60px;
    white-space: normal;
  }
  #firefox-promo #firefox-promo-link {
    left: 20px;
    top: 10px;
    width: 80px;
    height: auto;
  }
  #firefox-promo ul.features {
    display: none;
  }
  #firefox-promo .download-button {
    position: static;
    margin: 12px 10px 0 10px;
    width: 280px;
  }
  #firefox-promo .download-button .download-link {
    text-align: center;
    display: block;
    margin-bottom: 6px;
  }
  #home-promo .pager-page a {
    width: auto;
    height: auto;
  }
  #home-promo .pager-page a img {
    position: static;
  }
  #home-promo .pager-page h3 {
    font-size: 32px;
    letter-spacing: -0.5px;
    padding-top: 20px;
  }
  #home-promo .pager-page h4 {
    font-size: 20px;
    width: auto;
    margin-bottom: 10px;
  }
  #home-promo .pager-page .content {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    background: #fff;
    width: auto;
    float: none;
  }
  #home-promo .pager-page h4,
  #home-promo .pager-page h3 {
    margin-bottom: 6.666666666666667px;
    color: #333333;
  }
  #home-promo .pager-page p {
    color: #333333;
  }
  #home-promo .pager-tabs li a {
    padding: 12px;
    font-size: 28px;
  }
  #home-news,
  #home-events,
  #home-get-involved {
    width: 280px;
  }
}
/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {
  #firefox-promo {
    padding-top: 10px;
  }
  #firefox-promo h3 {
    margin-top: 25px;
    min-height: 55px;
  }
  #firefox-promo .download-button {
    width: 400px;
  }
  #home-promo .pager-page a.container {
    width: auto;
    height: auto;
  }
  #home-promo .pager-page a.container img {
    position: static;
  }
  #home-promo .pager-page h3 {
    font-size: 36px;
    letter-spacing: -0.5px;
    padding-top: 20px;
  }
  #home-promo .pager-page h4 {
    font-size: 20px;
    width: auto;
    margin-bottom: 10px;
  }
  #home-promo .pager-page .content {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    background: #fff;
    width: auto;
    float: none;
  }
  #home-promo .pager-page h4,
  #home-promo .pager-page h3 {
    margin-bottom: 6.666666666666667px;
    color: #333333;
  }
  #home-promo .pager-page p {
    color: #333333;
  }
  #home-promo .pager-tabs li a {
    padding: 12px;
    font-size: 28px;
  }
  #home-news,
  #home-events,
  #home-get-involved {
    width: 400px;
  }
}
/* Mobile layout: 320px */
@media only screen and (max-width: 480px) {
  
}
/* }}} */
