@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('reset.css');
@import url('bootstrap.css');

html {
	padding: 0;
	margin: 0;
	background: url('../img/bg.png') repeat-x left top rgb(210, 220, 230);
}
body {
	margin: 0;
	padding: 0;
	background: url('../img/bg-noise.png');
	font: 16px/24px Georgia, serif;
}

.container {
	margin: auto;
}

body > header nav {
	margin: 0;
	padding: 0;
	text-align: right;
}
	body > header nav > ul
	{
		display: inline;
		padding: 0;
		margin: 20px 0 0 0;
	}
	body > header nav > ul li {
		display: inline-block;
		list-style: none;
		padding: 10px 0;
		position: relative;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		width: 80px;
		text-align: center;
	}
	body > header nav > ul li.active:before {
		display: block;
		width: 20px;
		height: 10px;
		border-radius: 0 0 10px 10px;
		content: ' ';
		background: #fff;
		position: absolute;
		top: 0;
		left: 30px;
	}
	body > header nav #tabzilla {
		text-indent: 999999px !important;
	}

body > header hgroup {
	text-indent: -999999px;
	background: url(../img/mozilla-uk-logo-h.png) no-repeat left center;
	min-height: 120px;
	min-width: 235px;
	padding: 10px 0;
}

body > header .row {
	margin-bottom: 0;
}

footer {
	background: #fff;
	padding: 40px 0;
	margin: 40px 0 0 0;
}
	footer hgroup:first-child {
		text-indent: -999999px;
		background: url('../img/mozilla-uk-wordmark-red.png') no-repeat left center;
		min-height: 50px;
		min-width: 125px;
	}
	
	footer ul {
		list-style: none;
	}
	footer ul a {
		color : rgb(255, 49, 58);
		text-decoration: none;
		font-family: 'Open Sans';
	}

h1 {
	font-size: 48px;
	color: rgb(175, 50, 50);
	letter-spacing: -1px;
}
h2 {
	font-size: 32px;
	color: rgb(0, 36, 125);
	letter-spacing: -1px;
}
h3 {
	font-size: 28px;
	color: rgb(175, 50, 50);
	letter-spacing: -0.5px;
}
h4 {
	font-size: 24px;
	letter-spacing: -0.25px;
}

p, ul, ol, dl, hgroup {
	margin: 0 0 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-bottom: 12px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

a {
	color: rgb(0, 36, 125);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#tabzilla-panel {
	border-bottom: 2px solid #fff;
}
.row {
	margin-bottom: 20px;
}

.right, .alignright {
	float: right;
}
.left, .alignleft {
	float: left;
}

img {
	margin: 10px;
}

.event {
	background: #fff;
	box-shadow: 0 0 10px #ffffff;
	border-radius: 6px;
	border: 1px solid rgb(221, 221, 221);
	padding: 20px;
}
.event > .time {
	max-width: 104px;
	float: left;
	text-align: center;
	padding: 0 20px 0 0;
	margin: 0 20px 0 0;
	border-right: 2px solid rgb(221, 221, 221);
}

.event > .tags {
	clear: both;
	text-align: right;
}

.dinohead:before {
	height: 46px;
	width: 79px;
	background: url('../img/mozilla-icons.png') no-repeat 0px 0px transparent;
	content: ' ';
	float: left;
	display: block;
}
.moz-heart:before {
	height: 46px;
	width: 79px;
	background: url('../img/mozilla-icons.png') no-repeat 0px -450px transparent;
	content: ' ';
	float: left;
	display: block;
}

hr {
	border: none;
	border-top: 2px dotted #b0b1b2;
	padding: 10px 0;
}

@media (max-width: 768px) {
	body > header nav ul {
		display: none;
	}
}

@media (max-width: 979px) {
	body > header nav {
		position: relative;
		top: -164px;
		float: right;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	body > header nav {
		width: 600px !important;
	}
}

#home-promo h3, h4 {
	line-height: 1;
}

/** sandstone bits **/
.button,.button:link,.button:visited{display:inline-block;*display:inline;*zoom:1;-moz-border-radius:.25em;border-radius:.25em;-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);background-color:#81bc2e;background-color:#659324;background-repeat:repeat-x;background-image:-khtml-gradient(linear,left top,left bottom,from(#81bc2e),to(#659324));background-image:-moz-linear-gradient(#81bc2e,#659324);background-image:-ms-linear-gradient(#81bc2e,#659324);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#81bc2e),color-stop(100%,#659324));background-image:-webkit-linear-gradient(#81bc2e,#659324);background-image:-o-linear-gradient(#81bc2e,#659324);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e',endColorstr='#659324',GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e', endColorstr='#659324', GradientType=0)";background-image:linear-gradient(#81bc2e,#659324);color:#fff;text-align:center;font-size:14px;padding:0 24px;height:48px;line-height:48px;text-decoration:none;border:0;text-shadow:0 1px 0 rgba(0,0,0,0.25);font-family:'Open Sans',sans-serif;-webkit-transition:all linear .25s;-moz-transition:all linear .25s;-o-transition:all linear .25s;-ms-transition:all linear .25s;transition:all linear .25s}.button:hover,.button:link:hover,.button:visited:hover,.button:focus,.button:link:focus,.button:visited:focus{-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;color:#fff;text-decoration:none;-webkit-transition:all linear .25s;-moz-transition:all linear .25s;-o-transition:all linear .25s;-ms-transition:all linear .25s;transition:all linear .25s}.button:focus,.button:link:focus,.button:visited:focus{outline-color:#484848}.button:active,.button:link:active,.button:visited:active{-webkit-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);color:#fff;text-decoration:none;-webkit-transition:all linear .25s;-moz-transition:all linear .25s;-o-transition:all linear .25s;-ms-transition:all linear .25s;transition:all linear .25s}.button-blue,.button-blue:link,.button-blue:visited{display:inline-block;*display:inline;*zoom:1;-moz-border-radius:.25em;border-radius:.25em;-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);background-color:#81bc2e;background-color:#659324;background-repeat:repeat-x;background-image:-khtml-gradient(linear,left top,left bottom,from(#81bc2e),to(#659324));background-image:-moz-linear-gradient(#81bc2e,#659324);background-image:-ms-linear-gradient(#81bc2e,#659324);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#81bc2e),color-stop(100%,#659324));background-image:-webkit-linear-gradient(#81bc2e,#659324);background-image:-o-linear-gradient(#81bc2e,#659324);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e',endColorstr='#659324',GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e', endColorstr='#659324', GradientType=0)";background-image:linear-gradient(#81bc2e,#659324);color:#fff;text-align:center;font-size:14px;padding:0 24px;height:48px;line-height:48px;text-decoration:none;border:0;text-shadow:0 1px 0 rgba(0,0,0,0.25);font-family:'Open Sans',sans-serif;-webkit-transition:all linear .25s;-moz-transition:all linear .25s;-o-transition:all linear .25s;-ms-transition:all linear .25s;transition:all linear .25s;cursor:pointer;background-color:#3c88cc;background-color:#276195;background-repeat:repeat-x;background-image:-khtml-gradient(linear,left top,left bottom,from(#3c88cc),to(#276195));background-image:-moz-linear-gradient(#3c88cc,#276195);background-image:-ms-linear-gradient(#3c88cc,#276195);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3c88cc),color-stop(100%,#276195));background-image:-webkit-linear-gradient(#3c88cc,#276195);background-image:-o-linear-gradient(#3c88cc,#276195);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc',endColorstr='#276195',GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";background-image:linear-gradient(#3c88cc,#276195)}.button-blue:hover,.button-blue:link:hover,.button-blue:visited:hover,.button-blue:focus,.button-blue:link:focus,.button-blue:visited:focus{-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;color:#fff;text-decoration:none;-webkit-transition:all linear .25s;-moz-transition:all linear .25s;-o-transition:all linear .25s;-ms-transition:all linear .25s;transition:all linear .25s}.button-blue:focus,.button-blue:link:focus,.button-blue:visited:focus{outline-color:#484848}.button-blue:active,.button-blue:link:active,.button-blue:visited:active{-webkit-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);color:#fff;text-decoration:none;-webkit-transition:all linear .25s;-moz-transition:all linear .25s;-o-transition:all linear .25s;-ms-transition:all linear .25s;transition:all linear .25s}.button-blue small,.button-blue:link small,.button-blue:visited small{display:block}.button-blue:hover,.button-blue:link:hover,.button-blue:visited:hover,.button-blue:focus,.button-blue:link:focus,.button-blue:visited:focus{-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8;-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8;box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8}.button-white,.button-white:link,.button-white:visited{display:inline-block;*display:inline;*zoom:1;-moz-border-radius:.25em;border-radius:.25em;-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);background-color:#81bc2e;background-color:#659324;background-repeat:repeat-x;background-image:-khtml-gradient(linear,left top,left bottom,from(#81bc2e),to(#659324));background-image:-moz-linear-gradient(#81bc2e,#659324);background-image:-ms-linear-gradient(#81bc2e,#659324);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#81bc2e),color-stop(100%,#659324));background-image:-webkit-linear-gradient(#81bc2e,#659324);background-image:-o-linear-gradient(#81bc2e,#659324);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e',endColorstr='#659324',GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e', endColorstr='#659324', GradientType=0)";background-image:linear-gradient(#81bc2e,#659324);color:#fff;text-align:center;font-size:14px;padding:0 24px;height:48px;line-height:48px;text-decoration:none;border:0;text-shadow:0 1px 0 rgba(0,0,0,0.25);font-family:'Open Sans',sans-serif;-webkit-transition:all linear .25s;-moz-transition:all linear .25s;-o-transition:all linear .25s;-ms-transition:all linear .25s;transition:all linear .25s;cursor:pointer;border:1px solid #d0d0d0;background:#fff;padding:0 12px;color:#484848;font-size:12px;height:24px;line-height:24px;text-shadow:none;-webkit-box-shadow:0 0 12px rgba(230,230,230,0.2) inset,0 -2px #e8e8e8 inset;-moz-box-shadow:0 0 12px rgba(230,230,230,0.2) inset,0 -2px #e8e8e8 inset;box-shadow:0 0 12px rgba(230,230,230,0.2) inset,0 -2px #e8e8e8 inset;-moz-border-radius:6px;border-radius:6px;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}.button-white:hover,.button-white:link:hover,.button-white:visited:hover,.button-white:focus,.button-white:link:focus,.button-white:visited:focus{-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;color:#fff;text-decoration:none;-webkit-transition:all linear .25s;-moz-transition:all linear .25s;-o-transition:all linear .25s;-ms-transition:all linear .25s;transition:all linear .25s}.button-white:focus,.button-white:link:focus,.button-white:visited:focus{outline-color:#484848}.button-white:active,.button-white:link:active,.button-white:visited:active{-webkit-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);color:#fff;text-decoration:none;-webkit-transition:all linear .25s;-moz-transition:all linear .25s;-o-transition:all linear .25s;-ms-transition:all linear .25s;transition:all linear .25s}.button-white small,.button-white:link small,.button-white:visited small{display:block}.button-white:hover,.button-white:link:hover,.button-white:visited:hover,.button-white:focus,.button-white:link:focus,.button-white:visited:focus{color:#484848;-webkit-box-shadow:0 0 12px rgba(230,230,230,0.2) inset,0 -2px #e8e8e8 inset;-moz-box-shadow:0 0 12px rgba(230,230,230,0.2) inset,0 -2px #e8e8e8 inset;box-shadow:0 0 12px rgba(230,230,230,0.2) inset,0 -2px #e8e8e8 inset}.button-white.selected{background:#d7d5d5;border-color:#bcb9b9;text-shadow:0 1px #fff;-webkit-box-shadow:0 1px 1px rgba(255,255,255,0.75),0 1px 3px rgba(0,0,0,0.1) inset;-moz-box-shadow:0 1px 1px rgba(255,255,255,0.75),0 1px 3px rgba(0,0,0,0.1) inset;box-shadow:0 1px 1px rgba(255,255,255,0.75),0 1px 3px rgba(0,0,0,0.1) inset}.button,.button-blue,.button-white{cursor:pointer}.button small,.button-blue small,.button-white small{display:block}

textarea,input[type=email],input[type=password],input[type=text]{height:24px;background:#fafafa;border-color:#dbdbdb;border-style:solid;border-width:1px;padding:4px 8px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 2px 1px rgba(0,0,0,0.1) inset;-moz-box-shadow:0 2px 1px rgba(0,0,0,0.1) inset;box-shadow:0 2px 1px rgba(0,0,0,0.1) inset;-webkit-transition:all linear .1s;-moz-transition:all linear .1s;-o-transition:all linear .1s;-ms-transition:all linear .1s;transition:all linear .1s}textarea{height:auto}textarea:focus,input[type=email]:focus,input[type=password]:focus,input[type=text]:focus{border-color:#bbb;-webkit-box-shadow:0 2px 1px rgba(0,0,0,0.1) inset,0 0 8px 0 rgba(103,167,208,0.6);-moz-box-shadow:0 2px 1px rgba(0,0,0,0.1) inset,0 0 8px 0 rgba(103,167,208,0.6);box-shadow:0 2px 1px rgba(0,0,0,0.1) inset,0 0 8px 0 rgba(103,167,208,0.6);-webkit-transition:all linear .1s;-moz-transition:all linear .1s;-o-transition:all linear .1s;-ms-transition:all linear .1s;transition:all linear .1s}.form-field{margin-bottom:8px}.errorlist{margin:0;font-family:'Open Sans',sans-serif;color:#c00}.errorlist li{list-style-type:none;margin:0}.field-error input[type=email],.field-error input[type=password],.field-error input[type=text]{border-color:#af3232;-webkit-box-shadow:0 2px 1px rgba(0,0,0,0.1) inset,0 0 8px 0 rgba(175,50,50,0.6);-moz-box-shadow:0 2px 1px rgba(0,0,0,0.1) inset,0 0 8px 0 rgba(175,50,50,0.6);box-shadow:0 2px 1px rgba(0,0,0,0.1) inset,0 0 8px 0 rgba(175,50,50,0.6)}