[submodule "application/libraries/jinja-inheritance"]
	path = application/libraries/jinja-inheritance
	url = git://github.com/rctay/codeigniter-jinja-inheritance.git
[submodule "bedrock"]
	path = bedrock
	url = git://github.com/mozilla/bedrock.git
